flask>=2.3.2
flask-caching>=1.10.1
PyYAML>=6.0
redis>=4.5.4
rq>=1.13.0
compliance-checker==5.3.0
gunicorn>=20.1.0
cc-plugin-ncei
cc-plugin-glider
cc-plugin-ugrid>=1.1.0
# we only need this for wheel based apps, anything installing from source or conda-forge is OK with older versions
# see https://github.com/Unidata/netcdf4-python/issues/1151 for more context
netcdf4>=1.6.3

