.banner {
  min-height: 60px;
  background-color: #ffffff;
  padding-left: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner .banner-img-brand {
  display: inline-block;
  float: left;
}

.banner .banner-img-brand img {
  height: 60px;
}

.banner .banner-text {
  font-family: "KlinicSlabBold";
  font-size: 24px;
  color:#003087;
  display: inline-block;
  float:left;
  margin-top: 13px;
  padding-left: 20px;
}

.banner .banner-text a {
  color:#003087;
}
.banner .banner-text a:hover,
.banner .banner-text a:focus {
  text-decoration: none;
  color: #007396;
}


.banner .banner-text {
  font-size: 27px;
  color: #003087;
}


.navbar-custom {
  background-color: #003087;
  border-size: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-custom .navbar-img-brand {
  float: left;
}

.navbar-custom .navbar-img-brand img {
  height: 47px;
}

.navbar-custom .navbar-brand a {
  color: #ffffff;
}
.navbar-custom .navbar-brand a:hover,
.navbar-custom .navbar-brand a:focus {
  color: #d6deeb;
  background-color: transparent;
  text-decoration: none;
}
.navbar-custom .navbar-text {
  color: #565c61;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  font-size: 18px;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #d6deeb;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #d6deeb;
  background-color: #b0c4d6;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #afc2d5;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #b0c4d6;
  color: #333333;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #565c61;
  border-bottom-color: #565c61;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #565c61;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333333;
    background-color: #b0c4d6;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #565c61;
}
.navbar-custom .navbar-link:hover {
  color: #333333;
}

.bad-score {
  color: #D70834;
}

thead .tname {
  width: 60%;
}
thead .tpriority {
  width: 20%;
}

thead .tscore {
  width: 20%;
}

thead .cname {
  width: 25%;
}

thead .cpriority {
  width: 5%;
}

thead .ccorrection {
  width: 70%;
}

.table-collapse {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

.table-collapse a{
  color: #333;
}

.table-collapse a:hover {
  color: #777;
  text-decoration: none;
}

.failures {
  display: inline;
}

.label-as-badge {
  border-radius: 1em;
}
#dropbox {
  color: #ccc;
  border: 5px dotted #ccc;
  margin-bottom: 20px;
}

#dropbox p {
  margin: 20px;
}

#dropbox #dropbox-error {
  display: none;
}

#dropbox.hovered {
  border-color: #000;
  color: #000;
}

#dropbox .progress {
  display: none;
  margin-bottom: 0px;
}

#dropbox.uploading {
  border-color: white;
}

#dropbox.uploading .progress {
  display: block;
}

#dropbox.uploading p {
  display: none;
}

#url-input {
  font-family: FontAwesome;
}

.submit-row {
  padding-top: 15px;
}

.testselection .btn-group.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

#test-selection-label p {
  padding-left: 5px;
  padding-top: 5px;
}

.padding-0 {
  padding: 0;
  margin: 0;
}

#feedback{
	border:0px solid #fff;
	background:#660000 url('/img/feedback-tab-left.png') top left no-repeat;
	width:36px;
	height:100px;
	position:fixed;
	left:-3px;
	top:40%;
  overflow:hidden;
  cursor:pointer;
}

#feedback:hover{
	left:-2px;
}

#feedbackForm .modal-body .well:not(:first-of-type) {
  width: 49%;
  display: inline-block;
}

#feedbackForm .modal-body .well:last-of-type {
  margin-left: 7px;
}

#feedbackForm .form-group {
    margin-bottom: 0;
    }

 #feedbackForm .form-group span.glyphicon {
     visibility: hidden;
    }

#about-container {
}

#about-heading {
  display: flex;
  justify-content: center;
}

.about-faq {
  padding: 10px;
}

#about-references-header {
  margin-left: 20px;
}

#about-references-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-reference-links {

}

