.result .bad-score {
  color: #D70834;
}

.result thead .tname {
  width: 60%;
}
.result thead .tpriority {
  width: 20%;
}

.result thead .tscore {
  width: 20%;
}

.result thead .cname {
  width: 25%;
}

.result thead .cpriority {
  width: 5%;
}

.result thead .ccorrection {
  width: 70%;
}

.result .table-collapse {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

.result .table-collapse a{
  color: #333;
}

.result .table-collapse a:hover {
  color: #777;
  text-decoration: none;
}

.result .failures {
  display: inline;
}

.result .label-as-badge {
  border-radius: 1em;
}

/* ------------------------- */
/* ----- Table Styling ----- */
/* ------------------------- */

table {
  font-family: helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th{
    text-align: left;
    padding: 12 px;
}

td{
  /*border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;*/
  font-size: 14px;
  text-align: left;
  padding: 8px;
}

td:first-child{
  font-style: italic;
}

/* ------------------------ */
/* ----- List styling ----- */
/* ------------------------ */

li{
  line-height: 14px;
}

#report-header {
  display: flex;
  justify-content: center;
}

#report-subheading {
  display: flex;
  justify-content: center;
}

#report-table-heading {
  display: flex;
  justify-content: center;
}

#report-table-subheading {
  display: flex;
  justify-content: center;
}