<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %}{% endblock %}
  <link rel="shortcut icon" href="{{ url_root() }}img/favicon.ico" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="IOOS Compliance Checker">
  <meta name="author" content="IOOS">
  <meta name="url-root" content="{{ url_root() }}">
  <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
<style>
@font-face {
  font-family: 'KlinicSlabBold';
  src: url("{{url_for('.static', filename='fonts/KlinicSlabBold.otf')}}") format("opentype");
}
@font-face {
  font-family: 'KlinicSlabMedium';
  src: url("{{url_for('.static', filename='fonts/KlinicSlabMedium.otf')}}") format("opentype");
}
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='{{"https://www.googletagmanager.com/gtag/js?id=" + google_analytics_id }}'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ google_analytics_id }}');
</script>

  {% block head %}
  {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% include 'feedback.html' %}
</body>
</html>

