{% extends "base.html" %}
{% block title %}
<title>IOOS Compliance Checker</title>
{% endblock %}
{% block head %}

<!-- css -->
{{ css|safe }}

<!-- Global site tag (gtag.js) - Google Analytics -->
{% if google_analytics_id %}
  <script async src='{{"https://www.googletagmanager.com/gtag/js?id=" + google_analytics_id }}'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ google_analytics_id }}');
  </script>
{% endif %}

<!-- scripts -->
{{ scripts|safe }}

{% endblock %}
{% block body %}
<div id="navbar-view">
</div>
<div class="container container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>IOOS Compliance Checker</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 testselection">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>
        Upload your dataset here:
        <div id="max-size">
        </div>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="dropbox">
        <p><i class="fa fa-upload"></i> Drop files here to upload</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="btn btn-default btn-file btn-upload">
        <i class="fa fa-upload"></i> Browse <input type="file">
      </span>
      <div id="fileupload">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Or provide a remote OPeNDAP Data URL here</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input type="text" class="form-control" id="url-input" placeholder="&#xf0ed; Enter URL for dataset">
    </div>
  </div>
  <div class="row submit-row">
    <div class="col-sm-12">
      <div class="pull-right">
        <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
      </div>
    </div>
  </div>
  <div class="row submit-row">
    <div class="col-sm-12">
      <div class="drop-status">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var app = new App();
$(document).ready(function() {
  app.start();
});
</script>
{% endblock %}
