{% extends "base.html" %}
{% block title %}
<title>IOOS Compliance Checker</title>
{% endblock %}
{% block head %}

<!-- scripts -->
{{ scripts|safe }}

<!-- css -->
{{ css|safe }}

{% endblock %}
{% block body %}
<div id="navbar-view">
</div>
<div class="container container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>IOOS Compliance Checker</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 testselection">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Upload your dataset here:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="dropbox">
        <p>Drop files here to upload</p>
        <div id="fileupload">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input type="text" class="form-control" id="url-input" placeholder="&#xf019; Enter URLfor dataset">
    </div>
  </div>
  <div class="row submit-row">
    <div class="col-sm-12">
      <div class="pull-right">
        <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
      </div>
    </div>
  </div>
  <div class="row submit-row">
    <div class="col-sm-12">
      <div class="drop-status">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var app = new App();
$(document).ready(function() {
  app.start();
});
</script>
{% endblock %}
