{% extends "base.html" %}
{% block title %}
    <title>MyGLOS - Login</title>
{% endblock %}
{% block head %}

<!-- Scripts -->
{{ scripts|safe }}
<!-- CSS -->
{{ css|safe }}
{% endblock %}
{% block body %}
<div id="navbar-view">
</div>
<div class="container">
  <div class="row">
    <div class="login-content col-md-12">
      <div id="user-login-view">
      </div>
      <div id="user-password-reset-view">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var app = new App();
$(document).ready(function() {
  app.start();
});

</script>
{% endblock %}

