{% extends "base.html" %}
{% block title %}
    <title>Compliance Checker - Temporary Login</title>
{% endblock %}
{% block head %}

<!-- Scripts -->
{{ scripts|safe }}
<!-- CSS -->
{{ css|safe }}
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="user-password-reset-view">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var app = new App();
var password_token = "{{password_token}}";
var user_id = "{{user_id}}";
var temporary_key = "{{temporary_key}}";
$(document).ready(function() {
  app.start();
});

</script>
{% endblock %}


