<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>IOOS Compliance Checker Report</h2>
        <p>For dataset <%= model.get('source_name') %></p>
        <p>During the <%= model.get('testname') %> check</p>
        <p>
          <a href="<%= model.get('reportUrl') %>" class="btn btn-primary" title="Click to download the report as a text file">
            <i class="fa fa-download" aria-hidden="true"></i> Download Report
          </a>
        </p>
      </div>
    </div>

    <div class="col-md-12">
      <h4>Corrective Actions</h4>
      <div class="col-md-12">
        <div class="table-collapse">
          <a data-target="high-priority-table" href="#">High Priority <i class="glyphicon glyphicon-collapse-up"></i></a>
        </div>
        <% if(model.get('high_count') > 0) { %>
        <div class="failures">
          | <span class="label label-danger label-as-badge"><%= model.get('high_count') %></span>
        </div>
        <div class="high-priority-table collapse in">
          <table class="table">
            <thead>
              <tr>
                <th class="cname">Name</th>
                <th class="ccorrection">Reasoning</th>
              </tr>
            </thead>
            <tbody>
              <% _.each(model.get('all_priorities'), function(result) { %>
                <% if (result.weight === 3) { %>
                  <% _.each(result.msgs, function(msg) { %>
                    <tr>
                      <td><%= result.name %></td>
                      <td><%= msg %></td>
                    </tr>
                  <% }); %>
                <% } %>
              <% }); %>
            </tbody>
          </table>
        </div>
        <% } else { %>
          <div class="failures">
            | <span class="label label-success label-as-badge">{{ model.get('high_count') }}</span>
          </div>
          <div class="high-priority-table collapse in">
            <table class="table">
              <tbody>
                <tr>
                  <td>All high priority checks passed!</th>
                </tr>
              </tbody>
            </table>
          </div>
        <% } %>
      </div>

      <div class="col-md-12">
        <div class="table-collapse">
          <a data-target="medium-priority-table" href="#">Medium Priority <i class="glyphicon glyphicon-collapse-up"></i></a>
        </div>
        <% if(model.get('medium_count') > 0) { %>
        <div class="failures">
          | <span class="label label-danger label-as-badge"><%= model.get('medium_count') %></span>
        </div>
        <div class="medium-priority-table collapse in">
          <table class="table">
            <thead>
              <tr>
                <th class="cname">Name</th>
                <th class="ccorrection">Reasoning</th>
              </tr>
            </thead>
            <tbody>
              <% _.each(model.get('all_priorities'), function(result) { %>
                <% if (result.weight === 2) { %>
                  <% _.each(result.msgs, function(msg) { %>
                    <tr>
                      <td><%= result.name %></td>
                      <td><%= msg %></td>
                    </tr>
                  <% }); %>
                <% } %>
              <% }); %>
            </tbody>
          </table>
        </div>
        <% } else { %>
          <div class="failures">
            | <span class="label label-success label-as-badge">{{ model.get('medium_count') }}</span>
          </div>
          <div class="medium-priority-table collapse in">
            <table class="table">
              <tbody>
                <tr>
                  <td>All medium priority checks passed!</th>
                </tr>
              </tbody>
            </table>
          </div>
        <% } %>
      </div>

      <div class="col-md-12">
        <div class="table-collapse">
          <a data-target="low-priority-table" href="#">Low Priority <i class="glyphicon glyphicon-collapse-up"></i></a>
        </div>
        <% if(model.get('low_count') > 0) { %>
        <div class="failures">
          | <span class="label label-danger label-as-badge"><%= model.get('low_count') %></span>
        </div>
        <div class="low-priority-table collapse in">
          <table class="table">
            <thead>
              <tr>
                <th class="cname">Name</th>
                <th class="ccorrection">Reasoning</th>
              </tr>
            </thead>
            <tbody>
              <% _.each(model.get('all_priorities'), function(result) { %>
                <% if (result.weight === 1) { %>
                  <% _.each(result.msgs, function(msg) { %>
                    <tr>
                      <td><%= result.name %></td>
                      <td><%= msg %></td>
                    </tr>
                  <% }); %>
                <% } %>
              <% }); %>
            </tbody>
          </table>
        </div>
        <% } else { %>
          <div class="failures">
            | <span class="label label-success label-as-badge">{{ model.get('low_count') }}</span>
          </div>
          <div class="low-priority-table collapse in">
            <table class="table">
              <tbody>
                <tr>
                  <td>All low priority checks passed!</th>
                </tr>
              </tbody>
            </table>
          </div>
        <% } %>
      </div>
    </div>

    </div> <!-- .col-md-12 -->
  </div> <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <pre>
        <%= model.get('ncdump') %>
      </pre>
    </div>
  </div>
</div> <!-- .container -->
