<div class="alert alert-danger alert-dismissible" role="alert" id="user-alert" hidden>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p></p>
</div>
<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Temporary Change Password</legend>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">New Password</label>
      <div class="col-md-4">
        <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password_confirm">Confirm Password</label>
      <div class="col-md-4">
        <input id="password_confirm" name="password_confirm" type="password" placeholder="Confirm Password" class="form-control input-md">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button id="submit" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </fieldset>
</form>


