<div class="alert alert-danger alert-dismissible" role="alert" id="user-alert" hidden>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p></p>
</div>
<form class="form-horizontal">
  <fieldset>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="username">Username</label>  
      <div class="col-md-4">
        <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md">
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Password</label>
      <div class="col-md-4">
        <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button class="btn btn-default" id="login">Login</button>
        <button class="btn btn-default" id="forgot">Forgot my Password</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button class="btn btn-default" id="register">Register New Account</button>
      </div>
    </div>
  </fieldset>
</form>

